<link href='theme/default.css' rel='stylesheet'></link>
<script src='js/jquery-3.3.1.min.js' type='text/javascript' laguage='javascript'></script>
<script src='js/functions.js' type='text/javascript' laguage='javascript'></script>


<nav id='navMenu' class='vertical'>
    <ul id='ulMenu'>
        <li><a href='#' id='lnkPools'>DHCP Pools</a></li>
        <li><a href='#' id='lnkLeases'>View Leases</a></li> 
        <li><a href=#' id='lnkStatic'>Static Leases</a></li>
    </ul>
</nav>

<article id='artContent'>
    Main Content
</article>
