@media screen and (min-width:801px) {
 :root {
    --myFontSize:2em;
    --myBGColor:hsl(240, 83%, 9%);
    --myHeaderBGColor: hsl(240, 83%, 9%);
    --myTextColor: white;
    --myMaxHeight:720px;
    
    --articleBGColor: white;
    --articleTextColor:black;
    
    /*Footer Settings*/
    --footerFontSize: 0.6em;
    --footerLinkColor:white;
    --footerLinkVisited:white;
    --footerTextDecoration:none;
    --footerHoverColor: #1b5458;
    --footerHoverCursor:pointer;

    /*navbar*/
    --navBGColor: rgba(128,150,90,85);

 }

 body {
     background-color:var(--myBGColor);
     color: var(--myTextColor);
     font-size: var(--myFontSize);
 }

 a {
     text-decoration:none;
     color:var(--myTextColor);
 }

 a:hover {
     font-weight:bold;
     cursor:pointer;
     text-decoration:underline;
 }

 a:visited {
     color:var(--myTextColor);
 }


 #artContent{
     width:84%;
     height:100%;
     max-height:var(--myMaxHeight);
     float:left;
     margin:0;
     padding:0;
     display:inline;
     background-color:rgba(75,75,75,0.5);
     border-radius: 15px;
 }

 #artLogin {
    background-color:var(--articleBGColor);
    color: var(--articleTextColor);
    margin: 0 auto;
    width:85%;
    padding:15px;
    text-align:center;
    overflow-y:auto;  
 }


 #divLoginWindow {
     height:25%;
 }

 #divSiteHeader {
    height:5em;
    width:100%;
    /*border: 1px solid yellow;*/
    background-color: var(--myHeaderBGColor);
    text-align:center;
    vertical-align:center;
    line-height:1em;
 }


 nav.vertical {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    overflow: hidden;
    text-align: center;
    background-color: var(--navBGColor);
    width: 15%;
    height:100%;
    max-height:var(--myMaxHeight);
    float: left;
    margin:0;
    padding:0;
    margin-right:10px;
    display:inline;
    overflow-y:auto;
 }


 #ulMenu {
     list-style:none;
     padding:0;

 }
/* CSS CLASSES */


}