<article id='artLogin'>
    <form id='frmLogin' action='/includes/api/auth/' Method='POST'>
        <strong>Username:</strong><input type='text' id='txtUser' name='txtUser'/> <br /><br />
        
        <strong>Password:</strong><input type='password' id='txtPass' name='txtPass'> <br /> <br />
        
        <!--<input type='text' id='txtDebug' name='txtDebug' value='1'>-->
        <button id='cmdLogin'>Log In </button>
    </form>
</article>


<script type='text/javascript' language='javascript' src='../js/functions.js'></script>
<script type='text/javascript' language='javascript'>
//autorun

$('input').keypress(function(event){
 if (event.keyCode==13) event.preventDefault();
})

$('#cmdLogin').click(function(){
    $.post('includes/api/auth/',$('#frmLogin').serialize(),function(data){
        data=JSON.parse(data);
        //alert(data.status);
        if (data.status=='verified') {
            setCookie('token',data.token,1);
            $("body").load('main.html');
        }
    })

    return false;
})


/*
$('#cmdLogIn').click(function(){
 $.post('includes/api/v1/auth',$('#frmLogin').serialize(),function(data){
  if (data.status=='verified') {
    //alert(data.status);
    setCookie('token',data.token,1);
    $("body").load('main.html');

  }
 })
 return false;
})
*/

</script>
